.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    gap: 10px;
    display: grid;
    place-content: center;
}

.navbar_title{
    font-size: 24px;
    margin: 0;
}

@media (min-width: 600px){
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar_title{
        font-size: 30px;
    }
}

.navbar_btn{
    background-color: var(--purple);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background 200ms ease;
}

.navbar_btn:hover{
    background-color: var(--medium-purple);
}
